@model HomeVmModel;

<div class="ui grid container stackable">
    <div class="ui twelve column row centered">
        <pre style="color:#ccc;">
 __      __  __                  __          ____    ___                       __
/\ \  __/\ \/\ \      __        /\ \        /\  _`\ /\_ \                     /\ \
\ \ \/\ \ \ \ \ \___ /\_\    ___\ \ \___    \ \ \/\_\//\ \     ___   __  __   \_\ \
 \ \ \ \ \ \ \ \  _ `\/\ \  /'___\ \  _ `\   \ \ \/_/_\ \ \   / __`\/\ \/\ \  /'_` \
  \ \ \_/ \_\ \ \ \ \ \ \ \/\ \__/\ \ \ \ \   \ \ \L\ \\_\ \_/\ \L\ \ \ \_\ \/\ \L\ \
   \ `\___x___/\ \_\ \_\ \_\ \____\\ \_\ \_\   \ \____//\____\ \____/\ \____/\ \___,_\
    '\/__//__/  \/_/\/_/\/_/\/____/ \/_/\/_/    \/___/ \/____/\/___/  \/___/  \/__,_ /
            </pre>
    </div>
    <div class="ui six column row" style="color:#ccc;font-weight: bold">
        <span class="left floated column">
            Currency:
            <select style="border: dashed 2px #ccc;"><option>$</option></select>
        </span>
        <span class="right floated column">Last Update: @DateTime.Parse("05/08/2020").ToString("g")</span>
    </div>
    <div class="ui fourteen column grid row">
        <div class="one column">
            <div class="ui secondary vertical menu">
                <a class="active item">
                    <div class="ui yellow horizontal label">beta</div>
                    VM
                </a>
                <a class="item">
                    <div class="ui yellow horizontal label">soon</div>
                    Database
                </a>
                <a class="item">
                    <div class="ui yellow horizontal label">soon</div>
                    Storage
                </a>
            </div>
        </div>
        <div class="right floated thirteen wide column">
            <div class="ui top attached three item menu">
                <div class="item active" data-tab="standard">Standard</div>
                <div class="item" data-tab="">General</div>
                <div class="item" data-tab="">Optimized</div>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="standard" style="color: #ccc; background: black;">
                <table class="ui celled table">
                    <thead>
                    <tr>
                        <th scope="col">Memory</th>
                        <th scope="col">CPU</th>
                        <th scope="col">Storage</th>
                        <th scope="col">Bandwidth</th>
                        <th scope="col">Price(mo)</th>
                        <th scope="col">Source</th>
                    </tr>
                    </thead>
                    <tbody>
                    @foreach (var vm in Model.Vms)
                    {
                        <tr>
                            <td>@vm.Memory GB</td>
                            <td>@vm.CPU Core</td>
                            <td>@vm.Storage GB SSD</td>
                            <td>@vm.Bandwidth TB</td>
                            <td>@vm.Price.ToString("C")</td>
                            <td><a href="@vm.Link">@vm.Source</a></td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
            <div class="ui bottom attached tab segment" data-tab="">
            </div>
            <div class="ui bottom attached tab segment" data-tab="">
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139249966-1"></script>
    <script type="text/javascript">
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-139249966-1');

        $('.tabular.menu .item').tab();
        $("#aboutModal").click(function () {
            $('.ui.tiny.modal').modal('show');
        });
        $('.ui.form').form({
            fields: {
                name: {
                    identifier: 'Url',
                    rules: [
                        {
                            type: 'empty',
                            prompt: 'Please enter source url'
                        },
                        {
                            type: 'url',
                            prompt: 'Should be a valid url'
                        }]
                }
            }
        });
    </script>
}